* {
  margin: 0;
  padding: 0;
}
.nav {
  width: 100%;
  height: 62px;
  background-color: #87cbff;
}
.nav .navbar {
  width: 1104px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.nav .navbar .navbar-a1 {
  height: 100%;
  cursor: pointer;
}
.nav .navbar .navbar-a1 img {
  height: 50px;
  margin: 6px 0 0 0;
}
.nav .navbar .nav-img {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 74.5%;
}
.nav .navbar span {
  position: absolute;
  left: 77%;
  font-size: 18px;
  font-family: "微软雅黑";
  color: #fff;
  line-height: 62px;
}
.nav .navbar .navbar-a2 {
  display: block;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  width: 93px;
  line-height: 30px;
  text-align: center;
  float: right;
  color: white;
  text-decoration: none;
  margin-top: 15px;
  border: 1px solid white;
  cursor: pointer;
  font-family: "微软雅黑";
}
.banner {
  background: url(../images/bg2.png) no-repeat;
  background-size: cover;
  width: 100%;
  height: 400px;
  position: relative;
}
.banner .content {
  width: 320px;
  position: absolute;
  /*left: 680px;*/
  /*top: 100px;*/
  color: #fff;
}
.banner .content .bg-phone {
  position: absolute;
  top: -40px;
  left: 100%;
  width: 200px;
  height: 330px;
  background: url(../images/phone_1.png);
  background-size: cover;
}
.banner .content h2 {
  font-size: 38px;
  font-family: "微软雅黑";
  padding: 20px 0;
}
.banner .content h3 {
  font-weight: 500;
  padding: 5px 0px;
  font-family: "微软雅黑";
}
.banner .content p {
  font-size: 17px;
  font-family: "微软雅黑";
  padding: 5px 0px;
  color: #d4eff6;
}
.xsgli {
  width: 100%;
}
.xsgli .xsgli-con {
  width: 1104px;
  margin: 0 auto;
  overflow: hidden;
}
.xsgli .xsgli-con h2 {
  text-align: center;
  letter-spacing: 2px;
  font-family: "微软雅黑";
  padding: 60px 0 40px;
  font-size: 28px;
  font-family: '微软雅黑';
  font-weight: normal;
}
.xsgli .xsgli-con div {
  width: 268px;
  height: 260px;
  float: left;
  margin-right: 0px;
  position: relative;
  text-align: center;
}
.xsgli .xsgli-con div img {
  width: 100%;
}
.xsgli .xsgli-con div .xs-img {
  width: 75%;
}
.xsgli .xsgli-con div .xs-img1 {
  width: 80%;
}
.xsgli .xsgli-con div h3 {
  text-align: center;
  font-size: 20px;
  font-family: "微软雅黑";
  position: absolute;
  color: #727171;
  bottom: 10px;
  left: 40px;
}
.con1 {
  width: 100%;
  background-color: #f6f6f6;
}
.con1 .con1-cen {
  width: 1104px;
  margin: 0 auto;
}
.con1 .con1-cen .con1-title {
  width: 100%;
  height: 78px;
  line-height: 78px;
  text-align: center;
  margin-top: 44px;
  font-size: 28px;
  font-family: "微软雅黑";
  font-weight: normal;
}
.con1 .con1-cen .con1-item {
  width: 1104px;
  height: 407px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.con1 .con1-cen .con1-item dl {
  width: 348px;
  height: 407px;
  float: left;
}
.con1 .con1-cen .con1-item dl dt {
  width: 100%;
  height: 235px;
  text-align: center;
}
.con1 .con1-cen .con1-item dl dt img {
  width: 80%;
  padding-top: 20px;
}
.con1 .con1-cen .con1-item dl dt .images3 {
  width: 65%;
}
.con1 .con1-cen .con1-item dl dt .images1 {
  width: 86%;
}
.con1 .con1-cen .con1-item dl .img-font {
  width: 100%;
  height: 56px;
  font-size: 20px;
  text-align: center;
  line-height: 56px;
  color: #d3786d;
  font-family: "微软雅黑";
}
.con1 .con1-cen .con1-item dl .font1 {
  color: #5aaeed;
}
.con1 .con1-cen .con1-item dl .font2 {
  color: #73c762;
}
.con1 .con1-cen .con1-item dl .font3 {
  color: #ffca3a;
}
.con1 .con1-cen .con1-item dl .img-desc {
  width: 98%;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  font-family: "微软雅黑";
  color: #727171;
  margin: 0 auto;
}
.con1 .con1-cen .con1-item dl .img-desc a {
  display: inline-block;
  padding: 0 12px;
  background-color: #55acee;
  color: #fff;
  margin-top: 5px;
  border-radius: 15px;
  text-decoration: none;
}
.con2 {
  width: 100%;
}
.con2 .con2-cen {
  width: 1104px;
  margin: 0 auto;
}
.con2 .con2-cen .con2-title {
  width: 1100px;
  height: 98px;
  text-align: center;
  line-height: 98px;
  font-size: 28px;
  margin: 0 auto;
  font-weight: 500;
  font-family: "微软雅黑";
}
.con2 .con2-cen .con2-item {
  width: 1104px;
  height: 307px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.con2 .con2-cen .con2-item dl {
  width: 208px;
  height: 307px;
  float: left;
}
.con2 .con2-cen .con2-item dl dt {
  width: 100%;
  height: 110px;
  background-color: #eee;
  text-align: center;
}
.con2 .con2-cen .con2-item dl dt i {
  font-size: 80px;
  text-align: center;
  line-height: 110px;
  color: blue;
}
.con2 .con2-cen .con2-item dl .img-font {
  width: 100%;
  height: 56px;
  font-size: 16px;
  text-align: center;
  line-height: 22px;
  color: #55acee;
  margin-top: 5px;
  font-family: "微软雅黑";
}
.con2 .con2-cen .con2-item dl .img-desc {
  width: 98%;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  font-family: "微软雅黑";
  color: #2e3847;
  margin: 0 auto;
}
.con2 .con2-cen .con2-item .item-center {
  margin: 0 10px;
}
.con3 {
  width: 100%;
}
.con3 .con3-cen {
  width: 1104px;
  margin: 0 auto;
  text-align: center;
}
.con3 .con3-cen h2 {
  width: 1104px;
  text-align: center;
  line-height: 98px;
  font-size: 28px;
  font-family: "微软雅黑";
  margin: 0 auto;
  font-weight: normal;
}
.con3 .con3-cen h2 a {
  padding: 3px 12px;
  background-color: #55acee;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  border-radius: 15px;
}
.con4 {
  width: 100%;
}
.con4 .con4-cen {
  width: 1104px;
  margin: 0 auto;
}
.con4 .con4-cen .con4-title {
  width: 1100px;
  height: 98px;
  text-align: center;
  line-height: 98px;
  font-size: 28px;
  margin: 0 auto;
  font-weight: 500;
  font-family: "微软雅黑";
}
.con4 .con4-cen .con4-item {
  width: 1104px;
  height: 550px;
  margin: 0 auto;
  padding-bottom: 40px;
  font-family: "微软雅黑";
  color: #3d4457;
  position: relative;
  padding: 0 70px;
}
.con4 .con4-cen .con4-item .qi-ye {
  width: 330px;
  height: 550px;
  float: left;
  margin-right: 20px;
  position: relative;
}
.con4 .con4-cen .con4-item .qi-ye a {
  color: #00a1e0;
  font-size: 14px;
  line-height: 80px;
}
.con4 .con4-cen .con4-item .qi-ye a span {
  width: 70px;
  height: 70px;
  display: block;
  position: absolute;
  top: 212px;
  left: 20px;
  background: url(../images/span-bg.png) no-repeat center;
  background-position: 0px -73px;
}
.con4 .con4-cen .con4-item .qi-ye .yin-ying {
  height: 250px;
  background: #fff;
  -webkit-box-shadow: 3px 3px 3px #ddd;
  -moz-box-shadow: 3px 3px 3px #ddd;
  box-shadow: 3px 3px 3px #ddd;
  padding: 0 15px;
}
.con4 .con4-cen .con4-item .qi-ye .yin-ying h4 {
  font-size: 20px;
  font-weight: normal;
  color: #333;
  line-height: 80px;
}
.con4 .con4-cen .con4-item .qi-ye .yin-ying .chao-chu {
  font-size: 16px;
  height: 80px;
  line-height: 25px;
  overflow: hidden;
}
.con4 .con4-cen .con4-item .qi-ye #show {
  width: 909px;
  height: 680px;
  display: none;
  position: absolute;
  z-index: 11;
  top: -50px;
  left: 70px;
  zoom: 1;
}
.con4 .con4-cen .con4-item .qi-ye #showz {
  width: 909px;
  height: 598px;
  background: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 -5px 20px #999999;
  -webkit-box-shadow: 0 -5px 20px #999999;
  box-shadow: 0 -5px 20px #999999;
  filter: progid:dXImageTransform.Microsoft.blur(pixelradius=5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Blur(pixelradius=5)";
}
.con4 .con4-cen .con4-item .qi-ye #showz #texts {
  height: 60px;
}
.con4 .con4-cen .con4-item .qi-ye #showz #texts strong {
  font-size: 16px;
  height: 60px;
  line-height: 60px;
  padding-left: 20px;
}
.con4 .con4-cen .con4-item .qi-ye #showz #texts span {
  width: 50px;
  height: 30px;
  display: block;
  float: right;
}
.con4 .con4-cen .con4-item .qi-ye #showz #texts span a {
  width: 30px;
  height: 30px;
  line-height: 0;
  display: inline-block;
  margin: 5px 0 0 15px;
  background: url(../images/gb.png) no-repeat;
  background-size:  30px 30px;
}
.con4 .con4-cen .con4-item .qi-ye #showz #textx {
  width: 850px;
  margin: 0px auto;
  height: 300px;
}
.con4 .con4-cen .con4-item .con4-div {
  float: left;
  width: 274px;
  margin: 0 20px;
  padding: 0 15px;
  position: relative;
}
.con4 .con4-cen .con4-item .con4-div img {
  position: absolute;
  z-index: 1;
}
.con4 .con4-cen .con4-item .con4-div span {
  font-size: 13px;
}
.con4 .con4-cen .con4-item .con4-div .mov {
  width: 304px;
  height: 200px;
}
.con4 .con4-cen .con4-item .con4-div .mov video {
  width: 100%;
  height: 100%;
}
.con4 .con4-cen .con4-item .con4-div .con4-font {
  font-weight: 600;
}
.con4 .con4-cen .con4-item .con4-div .con4-desc {
  text-indent: 2em;
  margin: 10px 0;
  font-size: 14px;
}
.con4 .con4-cen .con4-item .con4-div a {
  color: #4b879f;
  font-size: 12px;
  text-decoration: none;
  position: absolute;
  bottom: 30px;
}
.con5 {
  width: 100%;
  height: 500px;
  background: url(../images/tsbg.png) no-repeat;
  background-size: cover;
}
.con5 .con5-cen {
  width: 1104px;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.con5 .con5-cen .tsheng {
  width: 600px;
  height: 400px;
  position: absolute;
  left: 500px;
  top: 50px;
}
.con5 .con5-cen .tsheng h2 {
  font-size: 30px;
  font-family: "微软雅黑", "黑体";
  line-height: 140%;
  color: #000;
  font-weight: 500;
  padding: 40px 0;
}
.con5 .con5-cen .tsheng p {
  font-size: 20px;
  font-family: "微软雅黑", "黑体";
  line-height: 140%;
  color: #666;
  line-height: 200%;
  padding-left: 30px;
}
.con5 .con5-cen .tsheng p span {
  color: red;
  font-size: 36px;
  font-weight: 700;
  padding: 0 0 18px 8px;
  font-family: "微软雅黑", "黑体";
}
.content8 {
  width: 100%;
  height: 240px;
  background-color: #0594cc;
  padding: 6px 0 30px;
  position: relative;
}
.content8 .con8-d1 {
  width: 36%;
  height: 90px;
  margin: 0 0px 0 120px;
  padding: 50px 20px 30px;
}
.content8 .con8-d1 h2 {
  font-size: 26px;
  font-family: "微软雅黑", "黑体";
  line-height: 140%;
  text-align: left;
  color: #fff;
  padding-left: 16px;
}
.content8 .con8-d1 p {
  padding-top: 20px;
  width: 91%;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
  font-family: "微软雅黑", "黑体";
  line-height: 160%;
  color: #fff;
}
.content8 .con8-d4 {
  width: 20%;
  height: 220px;
  position: absolute;
  left: 47%;
  top: 20px;
}
.content8 .con8-d4 div {
  float: left;
  width: 49%;
  height: 100%;
  text-align: center;
}
.content8 .con8-d4 div img {
  padding-top: 88px;
  width: 80px;
  height: 80px;
}
.content8 .con8-d4 div p {
  font-size: 14px;
  padding-top: 20px;
  font-family: "微软雅黑", "黑体";
  color: #fff;
}
.content8 .con8-d3 {
  width: 20%;
  height: 120px;
  margin: 0 0px 0 120px;
  padding: 74px 20px 30px;
  position: absolute;
  left: 62%;
  top: 20px;
  z-index: 0;
}
.content8 .con8-d3 a {
  display: inline-block;
  width: 152px;
  height: 30px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #fff;
  font-size: 16px;
  line-height: 30px;
  margin-top: 14px;
  background: #0594cc;
  text-decoration: none;
  transform: translateX(-32px);
}
.content8 .con8-d3 a:hover {
  background-color: #2d85c6;
}
.content8 .con8-d3 p {
  font-size: 16px;
  font-family: "微软雅黑", "黑体";
  line-height: 140%;
  color: #fff;
  line-height: 180%;
  padding: 8px 0;
  position: relative;
}
.content8 .con8-d3 p img {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -36px;
  top: 10px;
}
.content8 .con8-d3 h2 {
  font-size: 16px;
  font-family: "微软雅黑", "黑体";
  line-height: 140%;
  color: #fff;
  font-weight: 500;
  line-height: 180%;
  position: relative;
  padding: 8px 0;
}
.content8 .con8-d3 h2 img {
  width: 22px;
  height: 22px;
  position: absolute;
  left: -32px;
  top: 13px;
}
.content8 .con8-d3 .con8-d3p {
  font-size: 12px;
}
.bquan {
  width: 100%;
  height: 30px;
  line-height: 30px;
  background-color: #404040;
  text-align: center;
  font-size: 12px;
  color: #fff;
}
.content{
  max-width: 100% !important;
  padding : 0 !important;
}

#main{
  padding-top: 100px;
  padding:0px !important;
}

