<li class="nav-dropdown-container language">
  <a class="nav-link">语言</a><span class="arrow"></span>
  <ul class="nav-dropdown">
    <li><a href="<%- url_for("/404/") %>" class="nav-link" target="_blank">中英混合</a></li>
  </ul>
</li>
